#background1{
    background-color: gray;
    height: auto;
    width: auto;
}

#background2{
    margin: 0 auto;
    height: auto;
    width: 1200px;
    height: auto;
/*    border: 3px solid red; */
}

#bannar{
    margin: 0;
    background: url(image/picture.jpg) -10px -140px;
    height: 350px;
    width: 1200px;
    background-repeat: no-repeat;
    /*display: none;*/

}

#bannar h1{
    margin: 0;
/*    padding-top: 200px;*/
    text-align: center;
    color: #7908aa;
    font-size: 50px;
    position: relative;
    -webkit-animation: myanimation 4.5s;
}

 @-webkit-keyframes myanimation{
                0%{top: 0px; left: 0px;}
                25%{top:250px; left: 0px;}
                50%{top: 250px; left: 110px;}
                75%{top 0px; left: 110px;}
                100%{top: 0px; left: 0px;}
     
}

#manu{
    background: linear-gradient(#28c808, #c1fbb5);
    height: 80px;
/*    position: fixed;*/
}

#manu ul li{
    margin-top: 10px;
    float: left;
    list-style: none;
    padding-top: 20px;
    height: 45px;
    border-right: 5px solid #d8e5d6;
}




#manu ul li:last-child{
    border-right: none;
}

#manu ul li a{
    text-decoration: none;
    font-size: 18px;
     text-transform: uppercase;
    padding: 30px;
    color: #8e8e8e;
    transition: font-size .5s ease;
}


#manu ul li a:hover{
    font-size: 25px;
    font-weight: bold;
    color: #e4fbde;
}

#manu ul li a:hover, #manu ul li a.active{
    font-size: 35px;
    font-weight: bold;
/*    color: #e4fbde;*/
}

#sub4{
    clear: both;
}

#sub1{
    background-color: #c8cef3;
    height: 450px;
    width: 220px;
    margin: 10px;
    float: left;
    text-align: center;
}
#sub1 a{
    text-decoration: none;
/*    margin:  5px;*/
    text-align: center;
    font-size: 30px;
    color:#4e03c8 ;
}

#sub2{
    background-color: #c8cef3;
    height: 750px;
    width: 220px;
    margin: 10px;
    float: right;
}

#sub2 p{
    color: #6807e8;
    font-weight: bold;
    font-size: 1.5em;
    text-align: justify;
}

#sub2 label{
    color: #6807e8;
    font-weight: bold;
    font-size: 1em;
    text-align: justify;
}

#sub2 p.no{
    margin: 16px 0px 0px 0px;
    color: #6807e8;
    font-size: 1em;
    text-align: justify;
    font-weight: bold;
}

#sub9{
    clear: both;
/*    background-color: red;*/
    height: 1250px;
    width: auto;
/*    border: 10px green solid;*/
}

#sub3{
    background-color: bisque;
    height: 2000px;
    width: 720px;
    position: absolute;
    top: 465px;
    left: 350px;
/*    clear: both;*/
/*    transition: height 1s, width 1s, transform 20s;*/
}

/*
#sub3:hover{
    transform: rotate(51840deg);
}
*/

#one{
    margin: 0px 5px;
    padding-top: 2px;
    text-align: justify;
}

#one ul{
    color: #1594e9;
    font-size: 18px;
}

#sub3 p.sub3{
    color: #1594e9;
    font-size: 18px;
}

.allhed{
    color: #b60652;
}

.all{
    color: #1594e9;
    margin: 10px;
    text-align: justify;
    font-size: 17px;
}

#img11{
    height: 168px;
    width: 220px;
    position: absolute;
    top: 540px;
    left: 459px;
    outline: 5px ridge #fdf1f5;
/*    display: none;*/
}

#img11 p{
    margin: 0;
    text-align: center;
}

#img101{
    height: 188px;
    width: 220px;
    position: absolute;
    top:1020px;
    left: 450px;
    outline: 5px ridge #fdf1f5;
}

#img101 p{
    margin: 0;
    text-align: center;
}

#img102{
    height: 160px;
    width: 220px;
    position: absolute;
    top: 1430px;
    left: 450px;
    outline: 5px ridge #fdf1f5;
}

#img102 p{
    margin: 0;
    text-align: center;
}
#img103{
    height: 265px;
    width: 207px;
    position: absolute;
    top: 1695px;
    left: 470px;
    outline: 5px ridge #fdf1f5;
}

#img103 p{
    margin: 0;
    text-align: center;
}

#developer{
    background: url(image/tanim.jpg) -50px -80px;
    background-repeat: no-repeat;
    position: relative;
    left: -95px;
    height: 400px;
    width: 400px;
    border-radius: 300px;
}

#name{
    position: absolute;
    top: 2600px;
    left: 430px;
}

#name p.name{
    margin-top: 0px;
    margin-bottom: 16px ;
    font-size: 50px;
    color: beige;
    font-weight: bold;
}

#name p.bsc{
    margin: 0px;
    color: rgba( 33, 242, 43, 0.719 );
    font-size: 30px;
    font-weight: bold;
}

